.new-tweet {
	display: none;
	width: 100%;
	padding: 10px;
	border: 1px solid #7a7a7a;
	background-color: #f9f9f9;
}

.new-tweet h2 {
	border-bottom: 1px solid black;
}

.new-tweet form textarea {
	width: 100%;
}

.form-submit {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.danger {
	color: red;
}
